/* src/App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ebcca3; /* Replace this color with any color you like */
  margin: 0;
  padding-top: 80px; /* This prevents the content from being hidden behind the fixed header */
}

/* Header Styles */
header {
  background-color: #186487;
  padding: 15px;
  color: rgb(8, 7, 8);
  text-align: center;
  position: fixed; /* Make the header fixed like the footer */
  top: 0; /* Position it at the top of the page */
  width: 100%; /* Ensure it spans the full width of the page */
  z-index: 1000; /* Keep it above other elements */
}

header h1,
nav {
  margin-top: 0px; /* Use a negative margin to move content up */
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 50px;
  scroll-margin-top: 135px;
}

h2 {
  border-bottom: 2px solid #186487;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Footer Styles */
footer {
  background-color: #186487;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
